* {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1em;
    color: rgb(11, 0, 30);
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
body
{background-color: #fff4fc;
background-image: url("images/texture-2.png");
background-repeat: repeat;
overflow: auto;
position: relative;
}
img#minInsta {
    position: fixed;
    width: 4%;
    top: 3%;
    right: 3%;
    z-index: 999;
}
header {
    text-align: center;
    font-size: 2em;
}
footer {
    text-align: right;
    padding: 1.5em;
}
nav, header, footer {
    text-align: center;
    padding-bottom: 2em;
    width: 100%;
}
article p, footer p, hr {
    font-size: 1.2em;
}
nav, footer {
    font-size: 1em;
}
#wrapper {
    width: 80%;
    margin: auto;
    position: relative;
}
.center {
    text-align: center;
}
h1 {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    text-decoration: underline overline #d032fc78;
    font-size: 2.5em;
    color:rgb(180, 0, 27);
}
h4 {
    text-decoration: underline;
    padding-top: 1.3em;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
    margin-right: 30px;
    padding: 1em;
    border-radius: 15px;
    transition: all 300ms;
}

li:hover {
    transform: scale(1.5);
}

.clearRight {
    clear: right;
}
footer ul {
    margin-top: 2em;
}
img {
    width: 100%;
    height: auto;
    margin-top: 1.5em;
}

/* Columns */

.columns {float:right;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* End Columns CSS */

div.FavGames {
    font-size: 1.2em;
}
div.FavGames>h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5em;
}
div.FavGames>p {
    width: 50%;
    font-size: 1em;
}
div.favName {
    margin-bottom: 2em;
}

.description {
    padding-right: 2em;
}

.protagIntro {
    clear: right;
    display: flex;
    justify-content: space-evenly;
}

.protagIntro > div {
    width: 30%;
    padding: 1%;
    background-color: rgba(175, 22, 93, 0.092);
}

a:link {
    color: rgb(212, 101, 16); 
 }
a:hover {
    color: rgb(99, 192, 0)
}
a:visited {
    color: rgb(204, 31, 0);
}

@media only screen and (max-width: 400px) {
    
    nav, header, footer {
        text-align: center;
    }
    
    h1 {
        font-size: 1.8em;
    }
    
    body {
        text-align: center;
        font-size: 1em;
    }
    
    ul li {
        font-size: .9em;
    }
    
    div#bio {
        text-align: center;
    }
    
    div.FavGames>p {
        width: 100%;
        
    }
    
    .columns {
        width: 100%;
        float: left;
        margin: 0%;
    }
    
    .col-5, .col-7 {
        width: 100%;
    }
    
    .FavGames img {
        margin-bottom: 1em;
    }
    
    div.description {
        text-align: center;
    }

    article {
        margin: 0;
    }
    
    div.FavGames {
        text-align: center;
    }
    
    div.FavGames {
        font-size: 1em;
    }
    
    img#minInsta {
        visibility: hidden;
}
    
    .protagIntro {
    clear: right;
    display: flex;
    flex-direction: column;
}

    .protagIntro > div {
        width: 100%;
        padding: 3%;
        background-color: rgba(0, 0, 0, .05);
    }
    
}

@keyframes maeJumping {
    0% {right: -300px; opacity: 0;}
    25% {opacity: 1;}
    100% {right: 2000px; opacity: 0;}
    
}

img#mae-jumping {
    
    opacity: 0;
    position: relative;
    right: -300px;
    animation-name: maeJumping;
    animation-delay: 1.5s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}

/* Media Queries */


@media only screen and (max-width: 1000px) 
{
    img#mae-jumping {
        
        visibility: hidden;   
    }

}